<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Shop Scheduler</title>
    <link rel="stylesheet" type="text/css" href="../../build/scheduler.dark.css" id="bryntum-theme">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <link rel="stylesheet" href="../_shared/shared.css">
    <link rel="stylesheet" href="resources/app.css">
</head>

<body>

    <div id="container" class="small-sized-tools">
    </div>
    <script data-default-locale="En" type="module" src="basic.schedule.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

</body>

</html>